<div class="container mt-5">
  <h2 class="text-center mb-4">検索結果</h2>

  <% if @type == 'menu' %>
    <h3 class="mb-4">料理名での検索結果</h3>
    <div class="row">
      <% @results.each do |post| %>
        <div class="col-md-2 mb-2">
          <div class="card text-center">
            <% if post.image.attached? %>
              <%= image_tag post.image.variant(resize_to_fit: [300, 200]), class: "card-img-top" %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= link_to post.menu_title, post_path(post) %></h5>
              <p class="card-text">ジャンル: <%= post.genre.name %></p>
              <p class="card-text">いいね数: <%= post.likes.count %></p>
              <%= link_to '詳細', post_path(post), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% elsif @type == 'user' %>
    <h3 class="mb-4">ユーザー名での検索結果</h3>
    <div class="row">
      <% @results.each do |user| %>
        <div class="col-md-2 mb-2">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title"><%= link_to user.name, user_path(user) %></h5>
              <p class="card-text">ニックネーム: <%= user.nickname %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>検索結果がありません。</p>
  <% end %>
</div>