<div class="container">
  <h2>プロフィール編集</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { multipart: true, method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :nickname %><br />
      <%= f.text_field :nickname %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :image %><br />
      <%= f.file_field :image %>
      <% if resource.image.attached? %>
        <div>
          <%= image_tag resource.image.variant(resize_to_fit: [150, 150]), class: "img-thumbnail" %>
        </div>
      <% else %>
        <%= image_tag "no_image.jpg", class: "img-thumbnail" %>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <%= f.password_field :password, autocomplete: "off" %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>
</div>