<% provide(:title, 'Followers') %>

<div class="container mt-5">
  <h2 class="mb-4">フォロー中のユーザー</h2>

  <div class="row">
    <% @followers_users.each do |user| %>
      <div class="col-md-4 mb-3">
        <div class="card followers-card">
          <div class="card-body text-center">
            <% if user.image.attached? %>
              <%= image_tag user.image.variant(resize_to_fit: [100, 100]), class: "img-fluid" %>
            <% else %>
              <%= image_tag 'no_image.jpg', class: "img-fluid", size: "100x100" %>
            <% end %>
            <h5 class="card-title mt-2"><%= link_to user.nickname, user %></h5>
            <p class="card-text">フォロワー数: <%= user.followers.count %></p>
            <p class="card-text">投稿数: <%= user.posts.count %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>