<% provide(:title, 'ユーザー情報') %>

<div class="container mt-5">
  <h2 class="mb-4">マイページ</h2>

  <div class="row">
    <!-- サイドバー -->
    <div class="col-md-3">
      <div class="card">
        <div class="card-body p-0">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <strong>名前:</strong> <%= @user.name %>
            </li>
            <li class="list-group-item">
              <strong>ニックネーム:</strong> <%= @user.nickname %>
            </li>
            <li class="list-group-item">
              <strong>メールアドレス:</strong> <%= @user.email %>
            </li>
          </ul>
        </div>
      </div>
      <div class="mt-3">
        <%= link_to '編集する', edit_user_path(@user), class: 'btn btn-success w-100' %>
        <%= link_to 'アカウントを削除', user_path(@user), method: :delete, data: { confirm: '本当にアカウントを削除しますか？' }, class: 'btn btn-danger w-100 mt-2' %>
      </div>
    </div>

    <!-- メインコンテンツ -->
    <div class="col-md-9">
    <div class="col-md-9">
      <h3>自分の投稿</h3>
      <div class="row">
        <% @user.posts.each do |post| %>
          <div class="col-md-3 mb-3">
            <div class="card text-center">
              <% if post.image.attached? %>
                <%= image_tag post.image.variant(resize_to_fit: [150, 150]), class: "post-image" %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= post.menu_title %></h5>
                <%= link_to '詳細', post_path(post), class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
