<!-- app/views/user/posts/_form.html.erb -->
<%= form_with(model: @post, local: true, html: { enctype: "multipart/form-data", data: { turbolinks: false } }) do |form| %>
  <% if @post.errors.any? %>
    <div class="alert alert-danger">
      <h4>エラーが発生しました：</h4>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="new-post-form">
    <!-- 料理名、ジャンル、料理の画像 -->
    <div class="form-group-inline top-section d-flex">
      <div class="form-group" style="flex: 1;">
        <%= form.label :menu_title, '料理名', for:'post_menu_title' %>
        <%= form.text_field :menu_title, class: 'form-control', id:'post_menu_title' %>
      </div>

      <div class="form-group" style="flex: 1;">
        <%= form.label :genre_id, 'ジャンル', for: 'post_genre_id' %>
        <%= form.collection_select :genre_id, Genre.all, :id,:name, { prompt: 'ジャンルを選択' }, { class: 'form-control genre-select', id:'post_genre_id' } %>
      </div>

      <div class="form-group" style="flex: 1;">
        <%= form.label :image, '料理の画像', for:'post_image' %>
        <%= form.file_field :image, class: 'form-control', id:'post_image', style: 'width: 100%;' %>
      </div>

      <div class="form-group" style="flex: 1;">
        <%= image_tag 'no_image.jpg', id:'image_preview', class: 'img-thumbnail mt-2', size: '100x100' %>
      </div>
    </div>

    <!-- 栄養価 -->
    <div class="nutrition-facts">
      <h4>栄養価</h4>
      <div class="form-group-inline">
        <div class="form-group">
          <%= form.label :energy, 'エネルギー (kcal)' %>
          <%= form.number_field :energy, step: 0.1, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :protein, 'タンパク質 (g)' %>
          <%= form.number_field :protein, step: 0.1, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :fat, '脂質 (g)' %>
          <%= form.number_field :fat, step: 0.1, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :calcium, 'カルシウム (mg)' %>
          <%= form.number_field :calcium, step: 0.1, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :iron, '鉄 (mg)' %>
          <%= form.number_field :iron, step: 0.1, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :zinc, '亜鉛 (mg)' %>
          <%= form.number_field :zinc, step: 0.1, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :vitamin_a, 'ビタミンA (μg)' %>
          <%= form.number_field :vitamin_a, step: 0.1, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :vitamin_b1, 'ビタミンB1 (mg)' %>
          <%= form.number_field :vitamin_b1, step: 0.1, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :vitamin_b2, 'ビタミンB2 (mg)' %>
          <%= form.number_field :vitamin_b2, step: 0.1, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :vitamin_c, 'ビタミンC (mg)' %>
          <%= form.number_field :vitamin_c, step: 0.1, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :dietary_fiber, '食物繊維 (g)' %>
          <%= form.number_field :dietary_fiber, step: 0.1, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :salt, '食塩 (g)' %>
          <%= form.number_field :salt, step: 0.1, class: 'form-control' %>
        </div>
      </div>
    </div>

    <!-- 材料 -->
    <div class="form-group">
      <%= form.label :ingredients, '材料' %>
      <div class="fields-container">
        <%= form.fields_for :post_ingredients do |ingredient_form| %>
          <div class="nested-fields">
            <%= render 'ingredient_fields', f: ingredient_form %>
          </div>
        <% end %>
      </div>
      <%= link_to_add_fields '材料を追加', form, :post_ingredients %>
    </div>

    <div class="form-group-inline">
      <!-- その他の情報 -->
      <div class="form-group" style="flex: 2;">
        <%= form.label :notes, 'その他の情報' %>
        <%= form.text_area :notes, rows: 3, class: 'form-control' %>
      </div>

      <!-- 公開設定 -->
      <div class="form-group form-check" style="flex: 1; align-self: center;">
        <%= form.check_box :is_public, class: 'form-check-input', style: 'width: 15px; height: 15px;' %>
        <%= form.label :is_public, '公開する', class: 'form-check-label' %>
      </div>
    </div>

    <!-- 投稿ボタン -->
    <div class="submit-btn">
      <%= form.submit '投稿', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>