<% provide(:title, '新材料提案管理') %>

<div class="container mt-5">
  <h2 class="text-center mb-4">新材料提案管理</h2>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>提案者</th>
        <th>材料名</th>
        <th>提案日時</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @new_ingredient_proposals.each do |proposal| %>
        <tr>
          <td><%= proposal.id %></td>
          <td><%= proposal.user.name %></td>
          <td><%= proposal.name %></td>
          <td><%= proposal.created_at %></td>
          <td>
            <%= link_to '承認', approve_admin_new_ingredient_proposal_path(proposal), method: :patch, class: 'btn btn-success btn-sm' %>
            <%= link_to '拒否', reject_admin_new_ingredient_proposal_path(proposal), method: :patch, class: 'btn btn-danger btn-sm' %>
            <%= link_to '削除', admin_new_ingredient_proposal_path(proposal), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-warning btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>