<div class="container mt-5">
  <h2 class="text-center"><%= @user.name %> さんの投稿一覧</h2>
  <div class="row">
    <% @posts.each do |post| %>
      <% if post.is_public %>
        <div class="col-md-4 mb-3">
          <div class="card">
            <% if post.image.attached? %>
              <div class="text-center">
                <%= image_tag post.image.variant(resize_to_fit: [300, 300]), class: "card-img-top" %>
              </div>
            <% end %>
            <div class="card-body">
              <h5 class="card-title text-center"><%= post.menu_title %></h5>
              <div class="text-center">
                <%= link_to '詳細', admin_user_post_path(@user, post), class: 'btn btn-primary mr-2' %>
                <%= link_to '削除', admin_user_post_path(@user, post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>