<!DOCTYPE html>
<html>
<head>
  <title>献立SNS</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render 'layouts/header' %>
  <div id="sidebar-left">
    <%= render 'layouts/left_sidebar' %>
  </div>
  <div id="main-content">
    <%= yield %>
  </div>
  <div id="sidebar-right">
    <%= render 'layouts/right_sidebar' %>
  </div>
</body>
</html>